/*#region test */

html, body {
    
    position: relative;
    height: 100%;
}

body{

    display: absolute;

    padding: 0;
    margin: 0;

    text-align: center;
}

/*#endregion test */

#map { 
    
    height: 100vh; 
}